light-border-color = #AAA
dark-border-color = black
calendar-square-size = 80px
weeknum-width = 25px

body.create-plan
  #calendar
    float left
    margin 0 1em 1em 0

    // layouts
    .num, .day, .month
      float left

    // widths
    .num
      width weeknum-width
    .day
      width calendar-square-size
    .month
      width 7 * calendar-square-size

    // heights
    .num, .day, .month
      height calendar-square-size
    .num
      line-height calendar-square-size
    .header
      .num, .day, .month
        height 2em
        line-height @height + 0.25

    // borders
    .week .day
      border solid light-border-color
      border-width 1px 0 0 1px
    .week .day:last-child
      width calendar-square-size + 1 // add 1 to offset the border
      border-right-width 1px
    .month
      border-top 1px solid light-border-color
    .week:last-child .day
      height calendar-square-size + 1 // add 1 to offset the border
      border-bottom 1px solid light-border-color
    .day.current
      position relative
      .box
        border 1px solid dark-border-color
        position absolute
        width 81px
        height 81px
        top -1px
        left -1px
        z-index 1

    // formatting
    .day .box
      overflow hidden
      padding 2px
    .num, .day, .month
      font-size small
    .week .day
      vertical-align top
      cursor pointer
      .date
        text-align right
      h3, p
        margin 0
        padding 0
        font-size small
        overflow hidden
        text-overflow ellipsis
        text-align center
    .num, .header .day, .header .month
      text-align center
      font-weight bold

  .workout
    #add-workout

    form#workout
      display none
      float left
      label
        display block

      p.repeat
        span.summary
          margin-left 1ex
      p.repeat-options
        display none
        font-size small
        margin-top -1em
        label
          display inline
        label[for=repeat-kind]
          display none
        span.monthly
          display none
