li(data-role="list-divider") On Your Own
li: a(href="go.html")
  img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
  h4 Wunderlich Loop
  p 5 miles, 10 minutes away.
li: a(href="go.html")
  img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
  h4 Cañada Trail
  p 5 miles, 10 minutes away.
li: a(href="activities.html") See more&hellip;
li(data-role="list-divider") With Others
li: a(href="go.html")
  h3 Divis Up or Shut Up
  p Free. Hill Run. Starts at 6:30pm (in 3hrs). 10 miles away.
li: a(href="go.html")
  h3 Woodside Loop with Gerad
  p Free. Trail Run. Starts at 6:30pm (in 3hrs). 10 miles away.
li: a(href="activities.html") See more&hellip;
