extends layout

block header
  a(href="index.html", data-icon="back", data-direction="reverse", data-rel="back") Today
  h1 Activities

block content
  ul(data-role="listview", data-filter="true")
    include activity-list

block footer
  mixin footer("activities")
