extends layout

block header
  a(href="#", data-icon="back", data-direction="reverse") Back
  h1 Alerts

block content
  ul(data-role="listview", data-filter="true")
    li: a(href="message.html")
      img.ui-li-icon(src="glyphish/icons/18-envelope.png")
      h3 Gerad Suyderhoud
      p Welcome! I'm a creator of Stridekick. Let me know if you have any
        | questions or feedback.
      p.ui-li-aside Moments ago
    li: a(href="go.html")
      img.ui-li-icon(src="glyphish/icons/63-runner.png")
      h3 Chung-Man Tam
      p Just started his tempo run.
      p.ui-li-aside 5m ago
    li: a(href="go.html")
      img.ui-li-icon(src="glyphish/icons/28-star.png")
      h3 Graham Schmidt
      p Just signed up for the Northface Endurance Challenge.
      p.ui-li-aside 15m ago
    li Load more&hellip;

block footer
  mixin footer("alerts")
