.ui-grid-a
  .ui-block-a
    - var day = 1, weekdays = 'Su Mo Tu We Th Fr Sa'.split(/\s+/);
    - var workouts = { Tu: 'tempo', Th: 'speed', Sa: 'long' };
    - var weeks = new Array(15);
    - var months = 'September October November'.split(/\s+/);
    style
      .calendar { border-collapse: collapse; }
      .calendar td { text-align: center; vertical-align: top; }
      .calendar td, th { font-size: small; padding: 2px; }
      .calendar tr.current td { background-color: #CCC; }
      .calendar .dot { line-height: 0; }
      .dot.tempo { color: forestgreen; }
      .dot.speed { color: firebrick; }
      .dot.long { color: blue; }
    table.calendar
      tr
        each weekday in weekdays
          th= weekday
      each week in weeks
        if (day + 7) % 30 < 7
          tr
            th(colspan=7)= months[Math.floor(day / 30)]
        tr(class=(day < 7 ? 'current' : false))
          each weekday in weekdays
            - day++;
            if day < 15 * 7 + 1
              td
                span.day= day % 30 + 1
                if workouts[weekday]
                  .dot(class=workouts[weekday]) &bull;
            else
              td(style="color:gold") &#x2605;
  .ui-block-b
    h4 August 3-9
    p
      span.dot.tempo &bull;
      b  Tue
      |  - Tempo Run
    p
      span.dot.speed &bull;
      b  Thu
      |  - Speed Work
    p
      span.dot.long &bull;
      b  Sat
      |  - Long Run
    a(href="#", data-role="button", data-mini="true") August 10-16 &raquo;

    p(style="margin-top:12.25em;font-size:small;font-weight:bold") Northface Endurance Challenge
