extends layout

block header
  a(href="index.html", data-icon="back", data-direction="reverse", data-rel="back") Today
  h1 Done!

block content
  fieldset(data-role="fieldcontain")
    label(for="difficulty") How&rsquo;d it Go?
    input#difficulty(type="range", min=0, max=100, value=50)
    .ui-grid-b.range-legend
      .ui-block-a Super Hard!
      .ui-block-b About Average
      .ui-block-c Rocked It!

  fieldset(data-role="fieldcontain")
    label
      input(type="checkbox", name="short")
      | I had to cut it short.

    //
      label(for="duration") No worries! How long did you exercise?
      select
        option < 5 minutes
        option 5-15 minutes
        option 15-30 minutes
        option 30-45 minutes
        option 45+ minutes

  fieldset(data-role="fieldcontain")
    label(for="notes") Notes (optional):
    textarea#notes

  a(href="plan.html", data-role="button", data-theme="b") Save

block footer
  mixin footer("plan")
