extends layout

block header
  a(href="pick-plan.html", data-icon="back", data-direction="reverse") Back
  h1 Customize Plan

block content
  h3 Northface Endurance Challenge Plan

  form
    fieldset(data-role="fieldcontain")
      label(for="distance") Distance
      select(name="distance", id="distance")
        option 5k
        option 10K
        option Half Marathon
        option Marathon
        option 50K
        option 50 Mile

    fieldset(data-role="fieldcontain")
      label(for="pace") Goal Pace
      input(type="range", name="pace", id="pace", data-highlight="true", min="4", value="10", max="30")

    fieldset(data-role="fieldcontain")
      label
        input(type="checkbox", name="share", checked="checked")
        | Share you're following this plan with your friends, so they can
        | support you (and maybe even join some workouts)!.

    a(href="pick-friends.html", data-role="button", data-theme="b") Let&rsquo;s Do It

block footer
  mixin footer("plan")
