extends jquery-mobile-layout

block header
  a(href="pick-plan.html", data-icon="back", data-direction="reverse") Back
  h1 Your Plan

block content
  h3 Your Northface Endurance Challenge Plan
  include calendar-widget

  form
    fieldset(data-role="fieldcontain")
      label
        input(type="checkbox", name="share", checked="checked")
        | Share your plan with friends, so they can support you (and maybe
        | even join in)!

    a(href="pick-friends.html", data-role="button", data-theme="b") Let&rsquo;s Do It

block footer
  mixin footer("plan")
