
mixin footer(active)
  div(data-role="footer", class="footer")
    div(data-role="navbar")
      ul
        - var buttons = 'Plan Activities Friends Alerts'.split(/\s+/)
        each button in buttons
          - var name = button.toLowerCase(), className = name;
          - if (className === active) {
          -   className = className + ' ui-btn-active'
          - }
          li: a(href=name + '.html', class=className, data-icon="custom")= button
