
mixin footer(active)
  div(data-role="footer", class="footer")
    div(data-role="navbar")
      ul
        - var buttons = 'Go Search Plan Friends'.split(/\s+/)
        each button in buttons
          - var className = button.toLowerCase();
          - if (className === active) {
          -   className = className + ' ui-btn-active'
          - }
          li: a(href="/", class=className, data-icon="custom")= button

