extends layout

block header
  a(href="#", data-icon="back", data-direction="reverse") Back
  h1 Friends

block content
  ul(data-role="listview", data-filter="true")
    li(data-role="list-divider") Active Now
    li: a(href="plan.html")
      img(src="http://lorempixel.com/80/80/people/?"+(Math.random()))
      h3 Chung-Man Tam
      p Started a tempo run 5 minutes ago. 50 minutes to go.
    li(data-role="list-divider") Active Today
    li: a(href="plan.html")
      img(src="http://lorempixel.com/80/80/people/?"+(Math.random()))
      h3 Graham Schmidt
      p Excercised an hour ago. Next workout on Tuesday.
    li(data-role="list-divider") Active Earlier
    li: a(href="plan.html")
      img(src="http://lorempixel.com/80/80/people/?"+(Math.random()))
      h3 Danny Divinov
      p Excercised Monday. Next workout today.
    li: a(href="plan.html")
      img(src="http://lorempixel.com/80/80/people/?"+(Math.random()))
      h3 Laura Garrity
      p Excercised Wednesday. Next workout Tuesday.


block footer
  mixin footer("friends")
