extends layout

block header
  a(href="plan.html", data-icon="back", data-direction="reverse") Plan
  h1 Now
  a(href="completed.html") Finish

block content
  h2 5 Mile Tempo Run
  ul
    li 1 mile warm-up
    li 3 miles at a 7:30 pace
    li 1 mile cooldown

  h3 Schedule
  p Today 
    a.change(href="#") change &raquo;

  h3 Suggested Route 
    a.change(href="activities.html") change &raquo;
  ul(data-role="listview")
    li: a(href="#")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
      h4 Old La Honda Out & Back
      p 5 miles, 10 minutes away.

  h3 Invite
  .ui-grid-c
    .ui-block-a(style="width:66%")
      p Invite friends to join this workout.
    .ui-block-b(style="text-align:center")
      a(href="pick-friends.html", data-role="button", data-icon="plus", data-inline="true" ) Invite

  include comments

  p
    a(href="track.html", data-role="button", data-theme="b") Start

block footer
  mixin footer("plan")
