!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='stylesheet', href="stylesheets/normalize.css")
      link(rel='stylesheet', href="stylesheets/#{page}.css")
  body(class="#{page} create-plan")
    block content
      TBD
    != brequire()
