extends jquery-mobile-layout

block header
  a(href="alerts.html", data-icon="back", data-direction="reverse") Alerts
  h1 Message

block content
  img(src="http://lorempixel.com/80/80/people/?"+(Math.random()), style="float:left; margin-right:5px; margin-top:5px")
  h3 Gerad Suyderhoud
  p Moments ago

  p Welcome! I'm a creator of Stridekick. Let me know if you have any
    | questions or feedback.

  include comments

block footer
  mixin footer("plan")
