extends layout

block header
  a(href="customize-plan.html", data-icon="back", data-direction="reverse") Back
  h1 Pick Friends
  a(href="plan.html") Done

block content
  ul.friends(data-role="listview", data-filter="true", data-autodividers="true")
    each friend in page.metadata.friends
      li
        = friend
        label: input(type="checkbox", data-inline="true")

block footer
  mixin footer("friends")
