extends layout

block header
  a(href="welcome.html", data-icon="back", data-direction="reverse") Back
  h1 Set a Goal

block content
  h3 What do you want to do?
  ul(data-role="listview")
    li Get in Shape
      ul
        li: a(href="customize-plan.html") Mile Challenge
        li: a(href="customize-plan.html") Couch to 5k
        li: a(href="customize-plan.html") Power Weight Loss
    li Keep Fit
      ul
        li: a(href="customize-plan.html") Mind Body Health
        li: a(href="customize-plan.html") Bootcamp Basics
        li: a(href="customize-plan.html") Power Weight Loss
    li Run a Race
      ul(data-role="listview", data-filter="true")
        li(data-role="list-divider") November
        li: a(href="customize-plan.html") US Half Marathon
        li(data-role="list-divider") December
        li: a(href="customize-plan.html") California International Marathon
        li: a(href="customize-plan.html") NorthFace Endurance Challenge
        li(data-role="list-divider") August &lsquo;13
        li: a(href="customize-plan.html") Lake Tahoe Triathlon
        li(data-role="list-divider") September &lsquo;13
        li: a(href="customize-plan.html") Lake Tahoe Ironman
        li(data-role="list-divider") Other
        li Something missing? Add it.

block footer
  mixin footer("plan")
