extends layout

block header
  a(href="welcome.html", data-icon="home", data-iconpos="notext", data-role="button")
  h1 Basic Training
  a.ui-btn-right(href="pick-plan.html", data-icon="gear") Change

block content
  h1 90% Complete
  h2 1 Week Left

  ul.plan(data-role="listview")
    li(data-role="list-divider") Today's Activity
    li.current: a(href="go.html")
      h1 Tempo Run
      p
        a(href="completed.html", data-role="button", data-inline="true", data-mini="true", data-theme="b") Finish
        a(href="nogo.html", data-role="button", data-inline="true", data-mini="true") Skip
    li(data-role="list-divider") Recent Activities
    li: a(href="go.html")
      span.green &#x2713;
      |  20 Minute Walk
    li: a(href="go.html")
      span.red &#x2717;
      |  30 Minute Jog
    li: a(href="go.html")
      span.gray ?
      |  Hill Run
    li(data-role="list-divider") Upcoming Activities
    li: a(href="go.html")
      h3 Long Run
      p Monday
    li: a(href="go.html")
      h3 Recovery Run
      p Wenesday
    li: a(href="go.html")
      h3 Speedwork
      p Friday

  p
    a(href="calendar.html") See the full calendar &raquo;

block footer
  mixin footer("plan")
