extends jquery-mobile-layout

block header
  a(href="welcome.html", data-icon="home", data-iconpos="notext", data-role="button")
  h1 Training Plan

block content
  h3
    span(style="color:gold") &#x2605;
    |  Goal: Northface Challenge 
    a.change(href="pick-plan.html") change &raquo;
    .bar(style="border:1px solid #999;width:80%;margin:auto;")
      .inner(style="background-color:#5E87B0;background-image:-webkit-linear-gradient(#6FACD5, #497BAE);width:90%") &nbsp;
    .note(style="text-align:center;font-size:x-small;font-style:italic")
      | 90% Complete; 1 Week Left

  ul.plan(data-role="listview")
    li(data-role="list-divider") Today's Activity
    li.current: a(href="go.html")
      h1 Tempo Run
      p
        a(href="completed.html", data-role="button", data-inline="true", data-mini="true", data-theme="b") Finish
        a(href="nogo.html", data-role="button", data-inline="true", data-mini="true") Skip
    li(data-role="list-divider") Recent Activities
    li: a(href="go.html")
      span.green &#x2713;
      |  20 Minute Walk
    li: a(href="go.html")
      span.red &#x2717;
      |  30 Minute Jog
    li: a(href="go.html")
      span.gray ?
      |  Hill Run
    li(data-role="list-divider") Previous Activities
    li: a(href="calendar.html")
      for x in new Array(20)
        - var rand = Math.random()
        if rand < 0.88
          span.green &#x2713;
        else if rand < 0.95
          span.red &#x2717;
        else
          span.gray ?
    li(data-role="list-divider") Upcoming Activities
    li: a(href="go.html")
      h3 Long Run
      p Monday
    li: a(href="go.html")
      h3 Recovery Run
      p Wenesday
    li: a(href="go.html")
      h3 Speedwork
      p Friday

  p
    a(href="calendar.html") See the full calendar &raquo;

block footer
  mixin footer("plan")
