extends layout

block header
  a(href="index.html", data-icon="back", data-direction="reverse", data-rel="back") Today
  h1 Suggested Workouts

block content
  h1 Suggested Routes
  h3 for your 5 mile run at 7:30 pace.

  ul(data-role="listview")
    li(data-role="list-divider") On Your Own
    li: a(href="routes.html")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
      h4 Wunderlich Loop
      p 5 miles, 10 minutes away.
    li: a(href="routes.html")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
      h4 Cañada Trail
      p 5 miles, 10 minutes away.
    li(data-role="list-divider") With a Group
    li: a(href="#")
      h3 Divis Up or Shut Up
      p Free. Hill Run. Starts at 6:30pm (in 3hrs). 10 miles away.
    li: a(href="#")
      h3 Woodside Loop with Gerad
      p Free. Trail Run. Starts at 6:30pm (in 3hrs). 10 miles away.

block footer
  mixin footer("go")
