extends layout

block header
  a(href="index.html", data-icon="back", data-direction="reverse", data-rel="back") Today

  h1 Cut Short!

block content
  h2 No worries! How long did you exercise?
  div(data-role="fieldcontain")
    label(for="duration")
    select
      option < 5 minutes
      option 5-15 minutes
      option 15-30 minutes
      option 30-45 minutes
      option 45+ minutes

  h2 How hard was it?
  div(data-role="fieldcontain")
    .ui-grid-b
      .ui-block-a Super Hard!
      .ui-block-b About Average
      .ui-block-c Rocked It!

    label(for="difficulty")
    input#difficulty(type="range", data-highlight="true", min=0, max=100, value=50)


  div(data-role="fieldcontain")
    label(for="notes") Notes (optional):
    textarea#notes
  a(href="tomorrow.html", data-role="button", data-theme="b") Save

block footer
  mixin footer("go")
