extends jquery-mobile-layout

block header
  a(href="go.html", data-icon="back", data-direction="reverse") Back
  h1 Tempo Run
  a(href="completed.html") Finish


block content
  h5 Current Segment
  h2 Countdown to Start
    a(href="#", data-role="button", data-mini="true", data-inline="true") Skip

  h1(style="text-align:center") 00:00:10

  h5 Next Segment
  h2
    | 5 minute warm-up

  h3 Next Turn
  ul(data-role="listview")
    li: a(href="#")
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=3000+Sand+Hill,Menlo+Park,CA&zoom=13&size=115x115&maptype=roadmap&sensor=false")
      h4 Left - Old La Honda
      p 1 mile / 10 minutes away.

  p
    a(href="#", data-role="button", data-theme="b") Pause

block footer
  mixin footer("plan")
